rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function validImage() {
      return request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    function validProfileImage() {
      return request.resource.size < 750 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    function isAdmin() {
      return signedIn()
        && request.auth.token.keys().hasAll(['role'])
        && request.auth.token.role == 'admin';
    }

    match /profile-images/{uid}/{fileName} {
      allow read: if signedIn();
      allow create, update: if signedIn() && request.auth.uid == uid && validProfileImage();
      allow delete: if signedIn() && request.auth.uid == uid;
    }

    match /review-images/{uid}/{reviewId}/{fileName} {
      allow read: if request.auth != null;
      allow create, update: if signedIn() && request.auth.uid == uid && validImage();
      allow delete: if signedIn() && request.auth.uid == uid;
    }

    match /venue-images/{venueId}/{fileName} {
      allow read: if signedIn();
      allow create, update: if isAdmin() && validImage();
      allow delete: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
