NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tastes-934e6.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tastes-934e6
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tastes-934e6.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIRESTORE_DATABASE_ID=tastes-eu
